html{
  background-color: #1d232e;
}

.formBody{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #1d232e;
}

.formContainer{
  border-radius: 8px;
  border-color: black;
  background-color: rgb(241, 241, 241);
  color: black;
  margin: 10px;
  display: inline-block;
  flex: auto;
  width: 75%;
  margin-left:20%;
  margin-right:20%;
}

.divHeader{
  text-align: center;
  font-size: 30;
}

.inputContainer{
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2rem;
}

.rowForm{
  padding-bottom: 2rem;
}

.phoneNumber{
  width: 48.5%;
  float: left;
  height: 3.5rem;
  border-width: 1px;
  border-color: #1d232e44;
}

.services{
  text-align: left;
}

.services-label{
  text-align: left;
  font-weight: bold;
}

.category-label{
  font-weight: bold;
}
.email{
  padding-top: 1rem;
  font-weight: bold;
}

.TOS{
  float:left;
}

#footer .content p {
  margin-bottom: 0;
  overflow: hidden;
}

.error{
  color: red;
  font-style: oblique;
}

.googleMap{
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}